* {

}

/* ---menu de navegacion---*/

body {
  display: flex;
  width: 100% !important;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #2b2f38;
}
header nav {
  background-color: #2b2f38;
  text-transform: uppercase;
  width: 65%;
  height: fit-content;
  font-family: "montserrat";
  font-size: large;
  text-transform: uppercase;
  color: #ffffff;
}
header nav a {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  
}
header button {
  width: fit-content;
  height: 44px;
  background-color:#2b2f38;
  border-bottom: #FAc410 solid 2px;
  color: white;
  margin: 0px 10px;
  font-weight: bold;
}
header img {
  width: 300px;
  background-color: #2b2f38;
  margin-left:20px;
  padding: 10px;
}
/*------------------------------
IMAGEN FLOTANTE
------------------------------*/

/*------------------------------
FIN IMAGEN FLOTANTE
------------------------------*/
/*------------------------------
REGISTRO INICIO 
------------------------------*/
.offcanvas-body {
  width: 100%;
  padding: 0px !important;
  background-color: #2b2f38;
  color: white;
}
.offcanvas-header {
  background-color:  #2b2f38;
}
.offcanvas-header img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#offcanvasRight {
  width: 40% !important;
}
.botonLogin button{
  color: white !important;
  background-color: white;
  
}
.miContenedorPadre {
  width: 100%;
}
.form_container  form{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px 15px;
}
.form_container form 
.form_container form input {
  width: 100%;
}
.form_container form button {
  color:#FAc410 ;
  border: solid #FAc410 1px;
  width:200px;
}
.registro-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.registro-container div {
  font-family: sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.registro-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.registro-container div div{
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  padding-left: 15px;
  text-align: left;
  width: 100%;
}
.registro-container input{ 
  background-color:#2b2f38 ;
  border-bottom: #FAc410 solid 1px !important;
  color: rgba(255, 255, 255, 0.473);
  width: 200px !important;
}
.registro-container h2 {
  text-align: center;
  font-family: "montserrat";
}
.registro-container p {
  text-align: center;
}

.offcanvas-header button {
  margin-right: 10px !important;
  color: white !important;
  background-color: white;
}
.registro1 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap !important;
  flex-direction: row;
}
.registro1 label select {
  background-color: transparent !important;
  color: #fdd835;
  border: #fdd835 solid 1px !important;
  border-radius: 5px;
  font-size: 15px;
}
.registro1 option {
  background-color: #2b2f38;
  color: #fdd835;
  font-size: 15px;
}

.registro1 ,
.registro2 ,
.registro3 ,
.registro4 ,
.registro5 ,
.registro6 {
  width: 100% !important;
  width: fit-content !important;
  margin: 0px !important;
  font-style: normal;
}
.registro1 label {
  display: flex;
}
.registro1 input,
.registro2 input,
.registro3 input,
.registro4 input,
.registro5 input,
.registro6 input{
  width: 100% !important;
  margin: 0px !important;
  font-size: 30px !important;
  font-style: normal !important;
  
}
.registro1 i,
.registro2 i,
.registro3 i,
.registro4 i,
.registro5 i,
.registro6 i {
  width: 100% !important;
  font-family: "Montserrat";
  font-style: normal !important;
  font-size: 25px;
 
}

.registro1 input , .registro2 input ,
.registro3 input , .registro4 input , 
.registro5 input , .registro6 input{
  border: 0px ;
  width: 50%;
}
.boolean {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.boolean input {
  width: 30px !important;
  height: 30px;
  border-radius: 15px !important;
}
.boolean button:hover{
  background-color: white;
}
.botonSubmit {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: auto;
  border: #FAc410 solid 2px !important;
  color: #FAc410;
  border-radius: 15px;
  margin: 25px 0px;
  font-size: 20px;
}
.botonRegistro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size:20px;
  margin-bottom: 10px;
}
.botonRegistro button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  color: white !important;
  font-weight: normal;
  font-family: "montserrat";
  margin: 10px;
  padding-bottom: 10px !important;
  border-bottom: #FAc410 solid 2px !important;
}
/*------------------------------
REGISTRO FIN
------------------------------*/
/*------------------------------
LOGIN INICIO
------------------------------*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  
}
.login input {
  background-color:#2b2f38 ;
  border-bottom: #FAc410 solid 1px !important;
  border-top: none;
  border-left: none;
  border-right: none;
  color: rgba(255, 255, 255, 0.473);
  width: 200px !important;
  height: 50px;
}
.login button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
  border: solid 2px #fac410 !important;
  
}
.login button:hover {
  background-color: white;
}
.login-container h2 {
  margin: 30px 0px !important;
  font-family: "montserrat";
}
/*------------------------------
LOGIN INICIO
------------------------------*/
/*------------------------------------------
TRATAMIENTO DE DATOS Y POLICITCAS INICIO
-----------------------------------------*/
.modal {
  padding: 0px !important;
  
}
.modal button {
  
}
/*------------------------------------
TRATAMIENTO DE DATOS Y POLICITCAS FIN
--------------------------------------*/
#botonPrincipal button {
  background-color: #2b2f38;
  border-radius: 25px;
  border: white solid 1px;
  height: 50px;
  width: 50px;
  position: relative;
  overflow: hidden;
}
#botonPrincipal button i {
  font-size: 45px;
  position: absolute;
  top: -2%;
  left: 3%;
}
#preguntas div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
}
.login-container button {
  color: #000;
  font-weight: bold;
  margin:20px;
  border-radius: 15px;
  color: white;
}
.login-container a {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.login-container h2 {
  display: flex;
  justify-content: center;
}
.login-container input {
  margin: 30px 10px;
}
/*--------   seccion de registro y Login ---------*/
.row {
  width: 800px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2b2f38;
  width: 45%;
}
.menu a {
  color:#ffffff;
  font-size: 13px;
  font-weight: 500;
  padding: 0px 15px;
  text-decoration: none;
}

.menuRegistro {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  color: #707a8a;
}
.menuRegistro i {
  background-color: #ffff;
  color: #707a8a;
  font-size: 25px;
  width: 100%;
}
.menuRegistro input {
  width: 100%;
}
.menuRegistro div {
  width: 50%;
}
.menuRegistro button {
  width: 100%;
  border-radius: 15px;
  margin: 15px;
}
button {
  border: none;
  border-radius: 10px;
  font-size: 13.18px;
  padding: 10px;
  width: 134px;
  height: 44px;
  color: #ffffff;
  
}
.fa-bars {
  display: none;
}

/*---main con contenedores principales---*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100%;
  width: 100% !important;

}
main img {
  height: 590px;
}
main button {
  color: #000;
  font-weight: bold;
}
.banner a {
  background-color: #1B1A20;
  height: 50px;
  width: 100px;
}
.banner{
  position: relative;
  width: 100%;
}
h1 {
  display: flex;
  width: 500px;
  height: 100px;
  font-size: 58px;
  font-weight: 900;
  line-height: 66.47px;
  color: #232c50;
  font-family: "Montserrat";
  width: 50%;
}

/*--- segundo texto mas grande---*/

h3 {
  color: #232851;
  font-size: 36px;
  font-weight: 700;
  width: 433px;
  margin-top: 100px;
}

/*------------------------------------
seccion tokenizacion con informacion 
------------------------------------*/

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 500px;
  padding: 10px;
  margin: 0 10% ;
}
.section div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items:center ;
  font-style: normal;
  font-family: "monstserrat";
  border: #FAc410 solid 2px ;
  border-radius: 30px;
  padding: 20px;
  background-color: #2b2f38;
}
.description h1 {
  display: flex;
  justify-content:center ;
  align-items: center;
  width: 100%;
  height: fit-content;
  text-align: center;
  color: #FAc410;
}
.section p {
  color: white;
  font-weight: bold;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "montserrat";
  font-size: 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: #2b2f38;
  margin: 0px;
}
.section img {
  display: flex;
  width: 100%;
}
.section button {
  border-radius: 15px;
  margin: 10px;
  text-shadow: #000;
  border: #fac410 solid 2px;
  color: #fac410;
  background-color: #2b2f38;
  margin: 10px;
  font-family: "montserrat" !important;
}
.section button:hover {
  border: #fac410 solid 2px;
  color: #fac410;
  background-color: white;
}
.imagenToken {
  margin: 30px;
  width: 300px !important;
  height: 300px !important;
  display: flex;
  flex-direction: row !important;
  position: relative;
  background: transparent;
}
.imagenToken div {
  width: 70px !important;
  height: 70px !important;
  background-color: #2b2f38;
  border: #fac410 solid 2px;
}
.imagenToken div {
  width: 70px;
  height: 70px;
  border-radius: 70px !important;
  display: flex;
  position: absolute;
}
/*------------------------------------
seccion tokenizacion con informacion fin 
------------------------------------*/
/*------------------------------------
buttons initial
-----------------------------------------*/
.gmToken1{
  position: absolute;
  left: 0 !important;
  top: 150px;
}
.gmToken2{
  position: absolute;
  right: 0;
  top: 150px;
}
.gmToken3 {
  position: absolute;
  left: 100px !important;
  
  background:#707a8a;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px !important;
  height: 100px !important;
  border-radius: 100px;
  z-index: 1;
}

.gmToken4{
  position: absolute;
  top: 15px !important;
  left: 45px;
}
.gmToken5{
  position: absolute;
  top: 15px !important;
  right: 45px;
}
.gmToken6{
  position: absolute;
  bottom: 0px !important;
}
/*------------------------------------
buttons end
-----------------------------------------*/
.flechaToken {
  height: 100px;
  width: auto;
  position:absolute;
  left:-90px;
  top:70px;
  z-index: 1;
}
.triagVer {
  height: 60px;
  width: auto;
  position:absolute;
  bottom: 480px;
  left: 450px;
  z-index: 1;
}
.triagRos {
  height: 70px;
  width: auto;
  position:absolute;
  bottom: 250px;
  left: 550px;
  z-index: 1;
}


.section1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  margin-top: 80px 0px;
}
.triagNeg {
  height: 100px;
  width: auto;
  position:absolute;
  left: 40px;
}
.flecha3 {
  height: 60px;
  width: auto;
  position:absolute;
  left: 180px;
  top:100;
}
.section1 h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  font-family: "Montserrat";
  margin-bottom: 50px;
  color: #2b2f38;
  
  border-bottom:  solid 3px #FAc410;
  box-shadow: 0px 25px 15px -15px rgba(43,47,56,0.77)
}
.section1 h2 {
  width: 80%;
  font-family: "montserrat";
  color: #2b2f38;
  
}
.section1 img {
  color: #232c50 !important;
  background-color: #232851;
}
.triagNeg {
  fill:#FAc410 !important;

}
/* --------------------
section 2 Ranking
-------------------- */
.star-rating {
  font-size: 0; /* Evita espacio entre las estrellas */
}

.star {
  font-size: 30px; /* Tamaño de las estrellas */
  cursor: pointer;
  color: white; /* Color de las estrellas sin calificar */
  transition: color 0.2s; /* Transición de color al pasar el ratón */
  margin-right: 5px; /* Espacio entre las estrellas */
}

/* Cambio de color al pasar el ratón sobre las estrellas */
.star:hover {
  color: #fac410; /* Color de las estrellas al pasar el ratón */
}

/* Estilo para las estrellas calificadas */
.star.rated {
  color: #fac410; /* Color de las estrellas calificadas */
}
.section2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.servicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  text-align: center;
  background-color: #fafafa;
  width: 300px;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
  border: #fac410 solid 0.1px;
  background-color: #2b2f38;
  color: #FAc410;
  box-shadow: 18px 14px 39px -6px rgba(43,47,56,0.77);
}
.servicio p {
  color: white !important;
  font-family: "montserrat" !important;
  text-align: justify !important;
  padding: 20px;
  font-size: 15px;
}
.section2 div img {
  height: 80px;
  position: relative;
  bottom: 40px;
}
.imgRank {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  border: 2px solid #fac410;
  display:flex;
  width: 200px !important;
  height: 200px !important;
  border-radius: 50px;
  overflow: hidden;
  padding: 20px;
}
.imgRank img {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100% !important;
  height: auto !important;
  padding-top: 45%;
}

.section2 h4 {
  font-family: "montserrat";
  border-top: #fac410 solid 3px ;
  width: 100%;
  padding-top: 20px;
  margin: 0px;
}
.servicio1 button {
  border: rgb(57, 175, 228) solid 1px !important;
  margin: 40px 0px;
}
.servicio2 button {
  border: rgb(242, 134, 04) solid 1px;
  margin: 40px 0px;
}
.servicio3 button {
  
  margin: 40px 0px;
}
.servicio4 button {
  border: #918989b2 solid 1px;
  margin: 40px 0px;
}
.botonnumero {
  border-radius: 30px;
  width: 69px;
  height: 43px;
  color: #ffffff;
  background-color: #8b48bf;
}
/* --------------------
section 2 ranking END
-------------------- */

/*----------------------
seccion  video
------------------ ---*/

.section3 {
  height: 700px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 200px 0px;
}
.section3 div {
  display: flex;
  border-radius: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 25px;
}
.section3 h1 {
  width: 100%;
  height: 20px;
  color: white;
  font-family: "Montserrat";
  margin: 40px 0px;
}
.section3 button {
  color: #000;
  font-weight: bold;
  border-radius: 15px;
  margin: 20px;
}
.tokenizar {
  background-color: #2b2f38;
  display: flex;
 
}
.tokenizar1,
.tokenizar2 {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: justify;
}
.tokenizar h1 {
  display: flex;
  justify-content: center;
  color: #fac410;
  border-bottom: #fac410 solid 2px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
 
}
.tokenizar1 {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  position: absolute;
  left: 80px;
  background-color: rgb(4, 30, 66);
}
.tokenizar2 {
  display: flex;
  width: 55%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.tokenizar2 h2 {
  color: white;
  font-family: "montserrat";
}
.tokenizar2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fac410;
  border: #fac410 solid 2px;
  background-color: transparent;
}
#myChart {
  width: 100% !important;
  height: 70% !important;
}
article {
  color: #242e53;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 80px;
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "montserrat";
}
/*----------------------
seccion  video fin
------------------ ---*/
/* --------------------
section 4 tokenizacion
-------------------- */
.section4 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.section4 div {
  margin: 10px;
  text-align: center;
  background: transparent !important;
  width: 250px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  border: rgba(128, 128, 128, 0.075) solid 0.1px;
  
}
.section4 div img {
  height: 80px;
  position: relative;
  bottom: 40px;
}
.section4 div p {
  width: 200px;
  height: 250px;
  padding: 15px;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  font-family: "montserrat";
  background-color: #2b2f38;
  color: #fac410;
  border: #fac410 solid 2px;
  border-radius: 15px;
}
.section4 button {
  margin: 25px;
  width: 150px;
  height: 150px;
  border-radius:150px;
  border:#fac410 solid 2px;
  background-color: #2b2f38;
}
.section4 h4 {
  font-family: "montserrat";
  font-weight: bold;
  color: #2b2f38;
  border-left: #fac410 solid 2px;
  width: fit-content;
  padding-left: 10px;
  margin-bottom: 15px;
}
/* -----------------------------
section 4 tokenizacion fin
------------------------------- */
/*---seccion de perfiles de usuario---*/

.usuario {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  flex-wrap: wrap;
  border-radius: 20px;
  margin-top: 200px;
  color: white;
}
.usuario h2 {
  margin-top: 20px;
}
.usuario div {
  text-align: center;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border-radius: 20px;
}
.usuario div button {
  width: 80%;
  height: 50px;
  position: relative;
  bottom: 40px;
  margin-top: 50px;
  color: black;
  background-color: white;
}
.usuario div p {
  color: black;
  font-weight: 500;
  width: 90%;
  height: 100%;
  margin: 10px;
  font-family: "Lora";
}
.comentario1,
.comentario5 {
  background-color: rgb(242, 134, 04);
}
.comentario2,
.comentario6 {
  background-color: rgb(57, 175, 228);
}
.comentario3,
.comentario4 {
  background-color: rgb(00, 158, 72);
}
h4 {
  color: #3f4868;
  font-weight: 700;
  margin-top: -15px;
  font-family: "Lato";
}
/*----------------------------seccion de Modal--------------------*/
.modalNft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../public/images/confeti.svg);

}
.modalNft img {
  width: 200px;
}
.modal1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 25px;
}
.modal1 h2 {
  width: 100%;
  text-align: center;
  font-family: 'Lato';
  font-weight:700;
  font-size: 30px ;
  margin-bottom: 10px;
}
.modal1 button {
  display: flex;
  background-color: #53AE94;
  color: #FAFAFA;
  border-radius: 20px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  font-family: 'Lato';
  font-display:inherit;
}
.compra1 {
  display: flex;
  width: 60%;
  margin-top: 15px;
}

/*---section boton---*/

.boton1 {
  display: flex;
  justify-content: center;
}
.boton2 {
  background-color: rgba(139, 72, 191, 0.7);
  color: rgba(255, 255, 255, 1);
  border-radius: 50px;
  height: 44px;
  margin-bottom: 120px;
}

/*---seccion inferior con preguntas frecuentes---*/

.inferior {
  margin-top: 200px ;
  margin-bottom: 100px;
  width:100%;
  height: fit-content !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inferior h1 {
  width: fit-content;
  height: 20%;
  border-bottom: 3px solid #FAc410;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 50px 20px;
  font-family: "Montserrat";
  box-shadow: 0px 25px 15px -15px rgba(43,47,56,0.77);
}
.inferior button {
  width: 100% ;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #093b4d;
  font-weight: 700;
  margin: 15px 0px;
}

/*------------------
preguntasfrecuentes
--------------------*/

.pregunta {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  height: fit-content !important;
  font-family: "montserrat";
  font-style: normal;
  text-align: justify;
  
}

.pregunta button {
  color: #fac410 !important;;
}
.pregunta div {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 50%;
  padding: 10px;
  color: white !important;
}
.pregunta div div {
  width: 100%;
  border: 2px solid #FAc410 ;
  margin: 5px ;
  background-color: #2b2f38;
  color: white !important;
}
.pregunta p {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5%;
}
/*----------------------
preguntasfrecuentes fin
------------------------*/

/*------------------------
footer
-------------------------*/
footer {
  background-color: #2b2f38;
  height: fit-content!important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  box-shadow: 0px -1px 18px 0px rgba(43,47,56,1);
}
footer .redessociales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
footer div .logo2 {
  height: 26px;
  width: 145px;
}
footer div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer img {
  width: 300px;
}
footer h2 {
  color: #fac410 ;
  border-bottom: #fac410 solid 1px;
  width: fit-content;
}
footer a {
  font-family: "montserrat";
}
.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.redes ul{
  list-style: none;
  width: 550px;
  height: 80px;
}
.redes ul li{
  float: left;
  width: 75px;
  height: 70px;
  border: 3px solid #fff;
  margin-right: 36px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s linear;
}
.redes ul li:last-child{
  margin-right: 0;
}
.redes ul li .bi{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 30px;
  transition: all 0.5s linear;
}
.redes ul li:hover{
  background: #fff;
  box-shadow: 0 0 30px 3px #fff;
}
.redes ul li:hover .bi{
  color: #f06060;
}





/* ---------------------
footer fin
-------------------------*/
/* ---------------------
enlaces del footer 
-------------------------*/

.navegacion1 {
  display: flex;
  flex-direction: column;
  margin:20px 0px;
}
.navegacion2 {
  display: flex;
  flex-direction: column;
  margin:20px 0px;
}
.navegacion1 a,
.navegacion2 a {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  text-decoration: none;
  margin: 6px 0px;
}
a input {
  height: 44px;
  border-radius: 50px;
  width: 290px;
  padding-left: 10px;
}

/* ---------------------
enlaces del footer  fin
-------------------------*/
/*------------------------------
Dash board Inicio
------------------------------*/
#dash {
  display: flex;
  flex-direction: column;
}
#soporte {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#soporte img{
  width: 80%;
}
.container-section{
  height: fit-content;
}
header {
  padding: 0px 15px !important;
  width: 100%;
}
#sidebar-container ul {
  display: flex !important;
  height: 700px!important;
  background-color: #2b2f38 ;
}
#sidebar-container {
  height: 100% !important;
  width: 250px;
}

.botonDash {
  background-color: transparent !important;
  color: #fdd835;
  border: #fdd835 solid 1px !important;
  border-radius: 10px;
  font-size: 15px;
  margin: 30px 0px;
}
#dash {
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
}
#dash1 {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  flex-direction: column;
  margin: 0px !important;
  height: 100%;
  width: 100% !important;
}
#dash1 li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: fit-content;
  width: 100%;
  background-color: #2b2f38;
}
#dash1 li a {
  display: flex;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
  width: 40%;
}
#dash1 li:hover {
  background-color: #fac310b9 ;
  border-radius: 10px;
  width: 100%;
}
#dash1 li a {
  font-size: 18px;
  font-family: "montserrat";
  font-style: normal !important;

}
.menu {
  display: flex;
  width: 100%;
  height: 100px;
}

/*------------------------------
Dash board Fin
------------------------------*/
/* ----------------------------------           ------------------------------*/

/* ---------------------------------- responsive mobile -----------------------------------------------*/
@media only screen and (min-width: 279px) and (orientation: portrait) { 
/*------------------------------
body
------------------------------*/


/*------------------------------
body end
------------------------------*/
/*------------------------------
menu nav
------------------------------*/
header {
  height: 100px;
  width: 100%;
  display: flex !important;
  justify-content: space-around!important;
  padding: 0px !important;
}
nav {
  width: fit-content !important;
  display: flex;
  justify-content: space-between;
}
.menu div{ 
  display: none;
}
.menu img {
  width: 200px;
  margin: 0px;
}
header button {
  
  font-size: 10px;
}

/*------------------------------
menu nav end
------------------------------*/
/*------------------------------
REGISTRO  
------------------------------*/

.offcanvas-header button {
  margin-right: 10px;
  color: white !important;
  background-color: white;
}
#offcanvasRight {
  width: 80% !important;
  height: 100%;
  font-size: 25px;
}
#offcanvasRight h2 {
  margin: 15px 0px;
}
.registro1 label select {
  background-color: transparent !important;
  color: #fdd835;
  border: #fdd835 solid 1px !important;
  border-radius: 5px;
  font-size: 15px;
}
.registro1 option {
  background-color: #2b2f38;
  color: #fdd835;
  font-size: 15px;
}
.registro1 ,
.registro2 ,
.registro3 ,
.registro4 ,
.registro5 ,
.registro6 {
  width: 100% !important;
  margin: 0px !important;
  font-size: 40px !important;
  font-style: normal !important;
}
.registro1 input,
.registro2 input,
.registro3 input,
.registro4 input,
.registro5 input,
.registro6 input{
  width: 100% !important;
  margin: 0px !important;
  font-size: 40px !important;
  font-style: normal !important;
}

.registro1 i,
.registro2 i,
.registro3 label,
.registro4 label,
.registro5 label,
.registro6 label {
  width: 100% !important;
  margin:  10px 0px !important;
  font-size: 25px !important;
  font-style: normal !important;
}
.boolean {
  font-size: 17px;
  font-family: "montserrat";
  font-style: normal;
}
.boolean p {
  width: 100% !important;
}
.boolean input {
  width: 30px !important;
  height: 30px;
}
  /*------------------------------
REGISTRO FIN 
------------------------------*/
/*------------------------------
seccion tokens
------------------------------*/
main {
  width: fit-content !important;
}
.section {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.description {
  margin-top: 50px;
  width: fit-content;
  
}
.imagenToken {
  width: 100%!important;
 
  display: flex;
  justify-content: space-around;
  margin: 80px 0px;
}
.gmToken1 {
  left: 0% !important;
  top: 0%;
}
.gmToken2 {
  left: 20% !important;
  top: 0% !important;
}
.gmToken3 {
  
  left:38% !important;
  top: inherit;
}
.gmToken4 {
  left: 42%;
  top: 0% !important;
}
.gmToken5 {
  right: 0%;
  top: 0% !important;
}
.gmToken6 {
  right: 20% !important;
  top: 0% !important;
}
.section p {
  width: fit-content;
}
/*------------------------------
seccion tokens end
------------------------------*/
/*------------------------------
seccion ranking
------------------------------*/
.section1 {
  margin-top: 150px;
}
.section2 {
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.section2 div {
  display: flex !important;
  width: 80%;
  height: auto;
  justify-content: center !important;
  align-items: center !important;
}
/*------------------------------
seccion ranking end 
------------------------------*/
/*------------------------------
seccion Video tokenizar
------------------------------*/
.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tokenizar1 {
  display: none !important;
}
.tokenizar2 {
  width: 100%;
}
/*------------------------------
seccion Video tokenizar fin 
------------------------------*/ 
/*------------------------------
seccion tokenizacion 4 
------------------------------*/
.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
/*------------------------------
seccion tokenizacion 4 fin
------------------------------*/
/*------------------------------
seccion preguntas
------------------------------*/
.pregunta {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pregunta div {
  width: 100%;
}
/*------------------------------
seccion preguntas fin 
------------------------------*/
/*------------------------------
Dash board Inicio
------------------------------*/
#dash {
  display: flex;
  flex-direction: column;
  font-size: 15px !important;
  width: fit-content;
}
/*------------------------------
seccion footer
------------------------------*/

footer {
  width: 100%;
  height: 100% !important;
  font-size: 10px;
  box-shadow: 0px -8px 18px -6px rgba(43,47,56,1)!important;
 
}

footer img {
  width: 150px;
}
.formulario {
  display: none;
}
.wrapper ul{
  width: 100px;
}
.wrapper ul li{
  margin-top: 20px;
}

/*------------------------------
seccion footer end
------------------------------*/



.tokenizar1 {
  display: none !important;
}
}